* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-btn, #restart-btn {
   padding: 20px; 
   font-size: 20px;
   margin-top: 40px;
   background-color: red;
   color: white;
   border-radius: 15%;
}

#my-canvas {
   
    display: none;
    margin: 0 auto;
}
#gameover-screen {
   display: none;
}
h2 {
    padding-top: 15px;
    display: none;
}

#start-btn:hover {
    background-color: black;
}

#restart-btn:hover {
    background-color: black;
}